{{ 'section-productAlternate.css' | asset_url | stylesheet_tag }}

<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ product.title | escape }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="productShippment">
  <p>{{ section.settings.shipment }}</p>
</div>


<div class="productAdditional">
  <div class="headerProdcuts">
    <div class="container">
      <div class="tabs">
        <h4 class="active" id="description">Description</h4>
        <h4 id="additionalInformation">Additional Information</h4>
        <h4 id="review">Review</h4>
      </div>
    </div>
  </div>

  <div class="tabsContent">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="description activeTab">
            <p>{{ product.description }}</p>
          </div>
          <div class="additionalInformation">
            <div class="row">
              <div class="col-lg-4">
                <span>More Information To You</span>
                <h3>Things you need to know</h3>
                <p>We use industry standard SSL encryption to protect your details. Potentially sensitive information such as your name, address and card details are encoded so they can only be read on the secure server.</p>
                <ul>
                  <li>Safe Payments</li>
                  <li>Accept Credit Cards</li>
                  <li>Different Payment Method</li>
                  <li>Price Include VAT</li>
                  <li>Easy to Order</li>
                </ul>
              </div>
              <div class="col-lg-3">
                <h4>
                  Express Delivery
                </h4>
                <p>
                  Europe & USA within 2-4 days
                  Rest of the world within 3-7 days
                  Selected locations
                </p>

                <h4>Need More Information</h4>
                <ul>
                  <li><a href="#">Orders & Shippment</a></li>
                  <li><a href="#">Payments & Refunds</a></li>
                  <li><a href="#">Payments</a></li>
                  <li><a href="#">Your Orders</a></li>
                </ul>
              </div>
              <div class="col-lg-5">
                <img class="img-fluid" loading="lazy" src="{{ product.featured_image.src | image_url }}" width="700" height="520">
              </div>
            </div>
          </div>
          <div class="review">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "class": "productAlternate",
  "settings": [
    {
      "id": "shipment",
      "label": "Shipment",
      "type": "text",
      "default": "UPS"
    }
  ]
}
{% endschema %}

{% javascript %}

// Id selection
const description = document.getElementById('description');
const additionalInformation = document.getElementById('additionalInformation');
const review = document.getElementById('review');

// Class selection
const descriptionTab = document.getElementsByClassName('description');
const additionalInformationTab = document.getElementsByClassName('additionalInformation');
const reviewTab = document.getElementsByClassName('review');

console.log(descriptionTab);

description.addEventListener("click", () => {
  description.classList.add('active');
  additionalInformation.classList.remove('active');
  review.classList.remove('active');

  descriptionTab[0].classList.add('activeTab');
  additionalInformationTab[0].classList.remove('activeTab');
  reviewTab[0].classList.remove('activeTab');
});

additionalInformation.addEventListener("click", () => {
  description.classList.remove('active');
  additionalInformation.classList.add('active');
  review.classList.remove('active');

  descriptionTab[0].classList.remove('activeTab');
  additionalInformationTab[0].classList.add('activeTab');
  reviewTab[0].classList.remove('activeTab');
});

review.addEventListener("click", () => {
  description.classList.remove('active');
  additionalInformation.classList.remove('active');
  review.classList.add('active');

  descriptionTab[0].classList.remove('activeTab');
  additionalInformationTab[0].classList.remove('activeTab');
  reviewTab[0].classList.add('activeTab');
});

{% endjavascript %}